name: empty
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  # Afegeix aquestes tres:
  camera: ^0.10.5 # Per gestionar la càmera
  path_provider: ^2.1.1 # Per trobar rutes de fitxers
  audioplayers: ^5.1.0 # Per reproduir àudio

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
